<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ilkomix.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>989A9154655BD1085D295E63E60937EA4B9D43C6</string>
				<key>dateExpires</key>
				<string>8.02.2025</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>989A9154655BD1085D295E63E60937EA4B9D43C6</string>
						<key>dateExpires</key>
						<string>8.02.2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88JZP2M564</string>
						<key>name</key>
						<string>ilker capli</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>989A9154655BD1085D295E63E60937EA4B9D43C6</string>
						<key>dateExpires</key>
						<string>8.02.2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88JZP2M564</string>
						<key>name</key>
						<string>ilker capli</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>989A9154655BD1085D295E63E60937EA4B9D43C6</string>
						<key>dateExpires</key>
						<string>8.02.2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88JZP2M564</string>
						<key>name</key>
						<string>ilker capli</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>989A9154655BD1085D295E63E60937EA4B9D43C6</string>
						<key>dateExpires</key>
						<string>8.02.2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88JZP2M564</string>
						<key>name</key>
						<string>ilker capli</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>989A9154655BD1085D295E63E60937EA4B9D43C6</string>
						<key>dateExpires</key>
						<string>8.02.2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88JZP2M564</string>
						<key>name</key>
						<string>ilker capli</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>989A9154655BD1085D295E63E60937EA4B9D43C6</string>
						<key>dateExpires</key>
						<string>8.02.2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>integration_test.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88JZP2M564</string>
						<key>name</key>
						<string>ilker capli</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>989A9154655BD1085D295E63E60937EA4B9D43C6</string>
						<key>dateExpires</key>
						<string>8.02.2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88JZP2M564</string>
						<key>name</key>
						<string>ilker capli</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>989A9154655BD1085D295E63E60937EA4B9D43C6</string>
						<key>dateExpires</key>
						<string>8.02.2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shake_gesture_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88JZP2M564</string>
						<key>name</key>
						<string>ilker capli</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>989A9154655BD1085D295E63E60937EA4B9D43C6</string>
						<key>dateExpires</key>
						<string>8.02.2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88JZP2M564</string>
						<key>name</key>
						<string>ilker capli</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>989A9154655BD1085D295E63E60937EA4B9D43C6</string>
						<key>dateExpires</key>
						<string>8.02.2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88JZP2M564</string>
						<key>name</key>
						<string>ilker capli</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>989A9154655BD1085D295E63E60937EA4B9D43C6</string>
						<key>dateExpires</key>
						<string>8.02.2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88JZP2M564</string>
						<key>name</key>
						<string>ilker capli</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>88JZP2M564.com.ilkomix.app</string>
				<key>com.apple.developer.team-identifier</key>
				<string>88JZP2M564</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f15e7974-1e48-4bee-b094-cb5c95e163e7</string>
				<key>dateExpires</key>
				<string>8.02.2025</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.ilkomix.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>88JZP2M564</string>
				<key>name</key>
				<string>ilker capli</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
